name: Android Debug APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "11"

      - name: Install Gradle
        uses: gradle/gradle-build-action@v2

      - name: Build Debug APK
        run: gradle build

      - name: Upload debug APK
        uses: actions/upload-artifact@v4
        with:
          name: nafas-app-debug
          path: app/build/outputs/apk/debug/*.apk
